<!DOCTYPE html>
<html>
<style>
TABLE, TH, TD {
  border:1px solid black;
}
</style>
<body>

<h2>TR elements define table rows</h2>

<TABLE style="width:100%">
    <TR><TH>Age<TD>{{Age}}
    <TR><TH>Sex<TD>{{Sex}}
    <TR><TH>RestingBP<TD>{{RestingBP}}
    <TR><TH>Cholesterol<TD>{{Cholesterol}}
    <TR><TH>FastingBS<TD>{{FastingBS}}
    <TR><TH>MaxHR<TD>{{MaxHR}}
    <TR><TH>Oldpeak<TD>{{Oldpeak}}
    <TR><TH>ASY<TD>{{ASY}}
    <TR><TH>ATA<TD>{{ATA}}
    <TR><TH>NAP<TD>{{NAP}}
    <TR><TH>TA<TD>{{TA}}
    <TR><TH>LVH<TD>{{LVH}}
    <TR><TH>Normal<TD>{{Normal}}
    <TR><TH>ST<TD>{{ST}}
    <TR><TH>N<TD>{{N}}
    <TR><TH>Y<TD>{{Y}}
    <TR><TH>Down<TD>{{Down}}
    <TR><TH>Flat<TD>{{Flat}}
    <TR><TH>Up<TD>{{Up}}
    <TR><TH>prediction<TD>{{prediction}}     
</TABLE>



</body>
</html>