azure-core
azure-functions
joblib
azure-storage-blob
certifi
flask
sklearn
cffi
charset-normalizer
cryptography
idna
isodate
msrest
numpy
oauthlib
pandas
pycparser
pypi
python-dateutil
pytz
requests
requests-oauthlib
six
typing_extensions
urllib3
scipy
matplotlib
sqlalchemy
fastapi
uvicorn
sklearn
psycopg2
mysql-connector-python==8.0.29
scikit-learn
gunicorn==19.9.0
uvloop
httptools
jinja2
python-multipart



